page-add {

}

desc-add{
    ion-icon{
        color:color($colors, primary, secondary);
    }

    .text{
        height: 100%;
    }

    ion-textarea{
        height: 100%;
    }

    ion-select{
        max-width: 100%;
    }
}
